.signupBox {
    height: 100vh;
}

.signupBox form{
   max-width: 450px;
   background-color: var(--white);
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   box-shadow: 0 0 16px 0px #a39c9c26;
   border-radius: 5px;
   padding : 20px
}

.formItem{
    position: relative;
    margin-top: 15px;
}