@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

:root {
  --blue: #1797fd;
  --white: #ffffff;
  --tomato: #f26c4f;
  --black: #222222;
  --grey: #dddfe2;
  --lBlue : #167ccd;
}

ul{
  list-style: none;
  margin : 0;
  padding: 0;
}
